*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior:smooth;
}
/* Reset some default browser styles */


body {
  background:white;
  background-size: cover;
  color: #000000;
  height: 100vh;
}

section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.container {
max-width: 800px;
margin: 50px auto;
background-color: #fff;
padding: 20px 40px;
border-radius: 8px;
box-shadow:2px 2px 40px 10px rgba(0, 0, 0, 0.6);
}

h1 {
font-size: 3.5em;
margin-bottom: 20px;
color: #ffffff;
}

h2 {
font-size: 2em;
margin-bottom: 10px;
color: #84ff3d;
}

p,
input,
textarea {
margin-bottom: 20px;
}

small {
display: block;
margin-bottom: 20px;
color: #888;
}

input,
textarea {
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 1em;
outline: none;
transition: border 0.3s;
}

input:focus,
textarea:focus {
border-color: #007bff;
}



ul {
list-style-type: none;

}

li {
padding: 20px 0;
border-bottom: 1px solid #eee;
}

li:last-child {
border-bottom: none;
}

.edit{
background-color: #000000;
padding:10px 25px;

text-decoration: none;
border:none;
font-size: 25px;
font-weight: 900;
font-family: "Nunito Sans", sans-serif;
transition: all 0.5s ease;

}
.edit:hover{
border:3px solid rgb(0, 0, 0);
background-color: #abfff9;
color: #000000;
}
.delete{
background-color: #f30c0c;
padding: 9px 25px;

text-decoration: none;
color: rgb(236, 9, 9);
border: none;
font-size: 25px;
font-weight: 900;
font-family: "Nunito Sans", sans-serif;
transition: all .5s ease;
}
.delete:hover{
  opacity: 0.8;
}
#newPostBtn {
font-size: 18px;
letter-spacing: 2px;
text-transform: uppercase;
display: inline-block;
text-align: center;
font-weight: bold;
padding: 0.7em 2em;
border: 3px solid #FF0072;
border-radius: 2px;
position: relative;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
color: #FF0072;
text-decoration: none;
transition: 0.3s ease all;
z-index: 1;
}

#newPostBtn:before {
transition: 0.5s all ease;
position: absolute;
top: 0;
left: 50%;
right: 50%;
bottom: 0;
opacity: 0;
content: '';
background-color: #FF0072;
z-index: -1;
}

#newPostBtn:hover, #newPostBtn:focus {
color: white;
}

#newPostBtn:hover:before, #newPostBtn:focus:before {
transition: 0.5s all ease;
left: 0;
right: 0;
opacity: 1;
}

#newPostBtn:active {
transform: scale(0.9);
}

.navbar-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index:100;
  
  
  
}
.navbar-container.sticky{
  border-bottom:  .1rem solid rgba(0,0,0, .2);
}
.navbar-container{
  backdrop-filter: blur(20px);
}
.webtitle{
  font-size:40px;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans", sans-serif;
  text-decoration:line-through;
}
.title{
  color: #d30007;
}
.btnget {
  outline: none;
  display: inline-block;
  border: 2.1px solid #f30c0c;
  border-radius: 1px;
  height:70px;
  width: 200px;
  background:rgb(5, 13, 13);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  transition: .3s;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  margin-left: 25px;
}

.btnget::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: .3s;
}

.btnget::after {
  content: '';
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: .3s;
}

.btnget:hover {
  box-shadow: 4px 4px 10px rgb(184, 184, 184);
  transform: translateY(-5px);
}

.btnget:hover::after, .btnget:hover::before {
  height: 20px;
  width: 20px;
  opacity: 1;
}

.blogheading{
  position: relative;
  width: 50%; /* or any other width */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('./peakpx.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size:30px;
  font-weight:bolder;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 5px;
}
ul{
  margin-left: 5rem;
  gap: 2em;
}
.aboutustag{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  transition: all .5 ease;
}
.aboutustag:hover{
  color: #325842;
}
.hometag{
  font-size:20px;
  font-weight: 700;
}
form input{
  margin-top: 10px;
  
}
input{
  border-radius: 20px;
  background-color: #4ff0e3;
  color: #000000;
  border: 4px solid #000000;
  font-family: "Playwrite ES", cursive;
  transition: all .5s ease;
}
input:hover{
  box-shadow: 0 0 3rem rgb(6, 65, 113);
  cursor: pointer;
}
.blog-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
}
.imgcontainer>img{
  height:700px;
  width:80%;
}
.blogname{
  color: #6aff97;
}
h2>span{
  color: #fffafa;
}
.blog-title{
  color: #000000;
  font-family:'Times New Roman', Times, serif;
}
.postblogtitle{
color: #08b09f;
letter-spacing: 5px;
font-family: cursive;
text-shadow:5px 5px 7px #000000;
}

/* after style*/
#newPostBtn{
  padding: 0.5em 1.5em;
}
h2{
  color: cornflowerblue;
}
.edit  {
  border: none;
  padding:7px 18px;
  border-radius: none;
}
.edit:hover{
  border: none;
  background-color: rgb(136, 124, 108);
}
.delete{
  padding:7px 15px;
}
.edit {
  background: #fff;
  border:1px solid black;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

.edit::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.edit:hover {
  color: #fff;
}

.edit:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
.delete {
  background: #fff;
  border:1px solid black;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

.delete::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.delete:hover {
  color: #fff;
}

.delete:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
small{
  font-size:20px;
  color: rgb(195, 11, 82);
}
.author{
  color: darkcyan;
  font-weight: 700;
}
p{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 600;

}